.venv/
__pycache__/
*.pyc
*.log
Fake.csv
True.csv
cleaned_data.csv
delaked_data.csv
delaked_data_v2.csv
*.zip

models/
!models/
models/*
!models/final/
models/final/*
!models/final/final_tfidf_vectorizer.joblib
!models/final/final_linear_svc.joblib
